<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<OSDiagToolConf>
		<queryTimeout>30</queryTimeout>
		<threadDumps>
			<iisW3wp>true</iisW3wp>
			<osServices>true</osServices>
		</threadDumps>
		<memoryDumps>
			<iisW3wp>false</iisW3wp>
			<osServices>false</osServices>
		</memoryDumps>
		<serverLogs>
			<evtAndServer>true</evtAndServer>
			<iisLogs>true</iisLogs>
		</serverLogs>
		<databaseOperations>
			<platformMetamodel>true</platformMetamodel>
			<databaseTroubleshoot>true</databaseTroubleshoot>
		</databaseOperations>
		<platform>
			<platformLogs>true</platformLogs>
			<platformAndServerConfFiles>true</platformAndServerConfFiles>
		</platform>
	</OSDiagToolConf>
	<IisConf>
		<LogsNumberOfDays>3</LogsNumberOfDays>
	</IisConf>
	<databaseInfo>
	  <databaseTables>
		<ossys>
			<table name="OSSYS_PARAMETER" />
			<table name="OSSYS_ESPACE" />
			<table name="OSSYS_APPLICATION" />
			<table name="OSSYS_MODULE" />
			<table name="OSSYS_EXTENSION" />
			<table name="OSSYS_APP_DEFINITION_MODULE" />
			<table name="OSSYS_SERVER" />
			<table name="OSSYS_ZONE" />
			<table name="OSSYS_ZONE_SERVER" />
			<table name="OSSYS_ESPACE_CONFIGURATION" />
			<table name="OSSYS_AUTHPROVIDER" />
			<table name="OSSYS_ACTIVATION" />
			<table name="OSSYS_ENVIRONMENT" />
			<table name="OSSYS_MODULEFRONTEND" />
			<table name="OSSYS_PLATFORMSVCS_OBSERVER" />
			<table name="OSSYS_PATHRULE" />
			<table name="OSSYS_PAGERULE" />
			<table name="OSSYS_SITERULE" />
		</ossys>
		<osltm>
			<table name="OSLTM_APPLICATION" />
			<table name="OSLTM_ENVIRONMENT" />
			<table name="OSLTM_ENVIRONMENTTOKEN" />
			<table name="OSLTM_MODULE" />
		</osltm>
		<oslog>
			<table name="OSLOG_ERROR" />
			<table name="OSLOG_GENERAL" />
			<table name="OSLOG_INTEGRATION" />
			<table name="OSLOG_SCREEN" />
			<table name="OSLOG_MOBILE_REQUEST" />
		</oslog>
	  </databaseTables>
	  <databaseQueryConfigurations>
		<sqlServer>
			<top_statCachedPlans>10</top_statCachedPlans>
			<top_topCPU>30</top_topCPU>
		</sqlServer>
		<oracle>
			<top_topCPU>30</top_topCPU>
		</oracle>
		<oslogTopRecords>500</oslogTopRecords>
	  </databaseQueryConfigurations>
	</databaseInfo> 
</configuration>