<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<OSDiagToolConf>
		<queryTimeout>30</queryTimeout>
	</OSDiagToolConf>
	<IisConf>
		<LogsNumberOfDays>3</LogsNumberOfDays>
	</IisConf>
	<infoToRetrieve>
	  <databaseTables>
		<ossys>
			<table name="OSSYS_PARAMETER" />
			<table name="OSSYS_ESPACE" />
			<table name="OSSYS_APPLICATION" />
			<table name="OSSYS_MODULE" />
			<table name="OSSYS_EXTENSION" />
			<table name="OSSYS_APP_DEFINITION_MODULE" />
			<table name="OSSYS_SERVER" />
			<table name="OSSYS_ZONE" />
			<table name="OSSYS_ZONE_SERVER" />
			<table name="OSSYS_ESPACE_CONFIGURATION" />
			<table name="OSSYS_AUTHPROVIDER" />
			<table name="OSSYS_ACTIVATION" />
			<table name="OSSYS_ENVIRONMENT" />
			<table name="OSSYS_MODULEFRONTEND" />
			<table name="OSSYS_PLATFORMSVCS_OBSERVER" />
		</ossys>
		<osltm>
			<table name="OSLTM_APPLICATION" />
			<table name="OSLTM_ENVIRONMENT" />
			<table name="OSLTM_ENVIRONMENTTOKEN" />
			<table name="OSLTM_MODULE" />
		</osltm>
	  </databaseTables>
	</infoToRetrieve> 
</configuration>